pipeline/incremenatl.json
{
	"name": "incremenatl",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select top 3 Table_name from INFORMATION_SCHEMA.tables where table_schema='dbo'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_practcal",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().Table_name} \nWhere modifieddate>='@{activity('Lookup2').output.firstRow.date}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true,
									"tableOption": {
										"value": "@{item().Table_name}",
										"type": "Expression"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dsinc",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "sqlp",
									"type": "DatasetReference",
									"parameters": {
										"schema": "stg",
										"tname": {
											"value": "@item().Table_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Lookup2",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select max(modifieddate) as date from ', item().Table_name)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "sql_practcal",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "load_compelete",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[tablelog]",
								"storedProcedureParameters": {
									"datafactoryname": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"modifieddate": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"pipelineid": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipelinename": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "success",
										"type": "String"
									},
									"tablename": {
										"value": {
											"value": "@item().Table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"triggerid": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"triggername": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServer1",
								"type": "LinkedServiceReference",
								"parameters": {
									"database": "task"
								}
							}
						},
						{
							"name": "failog",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SqlServer1",
								"type": "LinkedServiceReference",
								"parameters": {
									"database": "task"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "tablename",
												"type": "String",
												"value": {
													"value": "@item().Table_name",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "datafactoryname",
												"type": "String",
												"value": {
													"value": "@pipeline().DataFactory",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "pipelinename",
												"type": "String",
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "pipelineid",
												"type": "String",
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "triggerid",
												"type": "String",
												"value": {
													"value": "@pipeline().TriggerId",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "triggername",
												"type": "String",
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "status",
												"type": "String",
												"value": "failure",
												"direction": "Input"
											},
											{
												"name": "modifieddate",
												"type": "Datetime",
												"value": {
													"value": "@utcNow()",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "Query",
										"text": {
											"value": "insert into dbo.tablelogs \nvalues(@tablename,@datafactoryname,@pipelinename,\n@pipelineid,@triggerid,@triggername,@status,@modifieddate)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-11-16T09:46:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}