pipeline/Master_Pipeline.json
{
	"name": "Master_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "SV_time",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "time",
					"value": {
						"value": "@pipeline().TriggerTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Ex_Fulload",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SV_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pl_FULL LOAD SAP TO SQL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Fullloadtime": {
							"value": "@variables('time')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Ex_DeltaLoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SV_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pl_INCREMENTAL LOAD",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DeltaLoadtime": {
							"value": "@variables('time')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"time": {
				"type": "String"
			}
		},
		"annotations": []
	}
}