pipeline/Pl_FULL LOAD SAP TO SQL.json
{
	"name": "Pl_FULL LOAD SAP TO SQL",
	"properties": {
		"activities": [
			{
				"name": "Lk_LOADTYPE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from ETL.SAPLOOKUP where loadtype='Full'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ds_LOADTYPE",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Fe_itratelookup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lk_LOADTYPE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lk_LOADTYPE').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CP_SAPTOSQLSTG",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapTableSource",
									"rfcTableOptions": {
										"value": "@{item().delatcondition}",
										"type": "Expression"
									},
									"customRfcReadTableFunctionModule": "",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "@{concat('if EXISTS(SELECT table_schema,table_name FROM \nINFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA=','''',\nitem().stagingschema,'''','AND TABLE_NAME=','''',\nitem().tablename,'''',') begin ',\n'truncate table ',item().stagingschema,'.',item().Tablename\n,' end'\n)}\n",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SapTableResource1",
									"type": "DatasetReference",
									"parameters": {
										"tablen": {
											"value": "@item().tablename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SAPTOSQL",
									"type": "DatasetReference",
									"parameters": {
										"shcema": {
											"value": "@item().stagingschema",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().Tablename",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "CP_STGTODBO",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "CP_SAPTOSQLSTG",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SAPTODBO",
									"type": "DatasetReference",
									"parameters": {
										"shcemaname": {
											"value": "@item().stagingschema",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().Tablename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_DBO",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().FinalSchema\n",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().FinalTableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}