pipeline/sap.json
{
	"name": "sap",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SapTableSource",
						"rowCount": 50,
						"rfcTableOptions": "",
						"customRfcReadTableFunctionModule": "",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SapTableResource1",
						"type": "DatasetReference",
						"parameters": {
							"tablen": "VBRK"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "CFADLS",
						"type": "DatasetReference",
						"parameters": {
							"fn": {
								"value": "@concat('VBRK_',activity('Lookup1').output.firstRow.ERDAT)",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SapTableSource",
						"rfcTableOptions": "ERDAT >= '20180101'",
						"customRfcReadTableFunctionModule": "",
						"partitionOption": "PartitionOnCalendarDate",
						"partitionSettings": {
							"partitionColumnName": "ERDAT",
							"partitionUpperBound": "2018",
							"partitionLowerBound": "2018100"
						}
					},
					"dataset": {
						"referenceName": "SapTableResource1",
						"type": "DatasetReference",
						"parameters": {
							"tablen": "VBRK"
						}
					}
				}
			}
		],
		"variables": {
			"tablen": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-11-08T08:13:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}